body {

    font-family: Sans-serif;
    background-color:#221E1D;
    color: #ECEAE0;
    text-decoration-style: solid;
    text-align: match-parent;

     }
h1, img
{
 text-align:center;
}

.center
{
 text-align:center;
}

